:root {
  --blue: rgb(0, 132, 255);
  --blue-light: rgb(127, 172, 255);
  --blue-dark: rgb(8, 93, 173);
  --gray: rgb(211, 211, 211);
  --gray-dark: rgb(174, 174, 174);
  --orange: rgb(236, 110, 36);
  --border-radius: 10px;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
