.header {
  height: 50px;
  background-color: var(--gray);
  padding: 10px;
  text-align: center;
  font-weight: 700;
  font-size: large;
  margin: 10px 40px 20px 40px;
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--gray);
  position: absolute;
  left: 60px;
}

.button:hover {
  background-color: var(--gray-dark);
}
