.inputWrapper {
  display: flex;
  flex-direction: row;
  border-radius: 18px;
  border-color: var(--gray);
  border-style: solid;
  min-width: 200px;
  height: 60px;
  padding: 5px 20px;
  margin: 20px 40px;
}

.inputWrapper input {
  border: none;
  width: 100%;
  height: 100%;
}

.inputWrapper input:focus-visible {
  outline: none;
}

.inputWrapper input.disabled {
  cursor: not-allowed;
}

.inputWrapper .icon {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

@media (max-width: 600px) {
  .inputWrapper input {
    margin-left: 10px;
  }
}
